
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Honk&family=Indie+Flower&family=Rowdies:wght@300;400;700&display=swap');



.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

.rowdies-light {
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.rowdies-regular {
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rowdies-bold {
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
  
}

.honk {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}



* {

  font-family: cursive, sans-serif, monospace;
}

h2 {

  padding: 9px;



}



legend {
  font-weight: bold;
  background: orange;
  width: 100%
}



#submit {
  background-color: lightblue;
}



fieldset {
  text-align: center;
  background-color: lightblue;
}

.middle-pics {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height:200px;
}


figcaption {
  font-size: 20px;
}

body {
  background-color: lightgrey;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image:url("assets/images/pink-blue-texture-watercolor-artistic-abstract-background-hd-1920x1080.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;



}



main {

  flex: 1 0 auto;
}





footer > p {
  border-radius: 50%;
  border-color: orange;
  border-style: solid;
  background-color: orange;
  text-align: center;
  font-size: 20px;
  background-image:url(assets/images/colorful-geometric-shapes-vector-background-pattern.jpg);
  background-position:center;
  background-size:cover;

}

.news-container1 {
  width:400px;
  height:175px;
  border-radius:25px;
  background-image:url(assets/images/_133152130_c0180550-723e-48dc-bfe7-24bf939bd272.jpg.webp);
  background-position:center;
  background-size:cover;
  margin-left:70px;
}

.news-container2 {
  width:400px;
  height:175px;
  border-radius:25px;
  background-image:url(assets/images/_133031884_amber-stitches-cat-976-family.jpg.webp);
  background-position:center;
  background-size:cover;
  margin-left:70px;
}

.news-container3 {
  width:400px;
  height:175px;
  border-radius:25px;
  background-image:url(assets/images/7719ce60-f80c-11ee-8413-8d1fbc0364d9.jpg.webp);
  background-position:center;
  background-size:cover;
  margin-left:70px;
}


h3 {


  text-align: center
}

.row {
  display: flex;

}

.column {
  flex: 33.33%;
  padding: 5px;
}

#id {
  float: inline-end;
}




.styled-box {
  padding: 10px 5px 25px 5px;
  border-radius: 8px;
  width: 750px;
  text-align: center;
  margin: 0 auto;

  background-color: lightblue;
}

ul {
  display: table;
  margin: 0 auto;
  text-align: middle;
  gap: 100px;
  list-style-type: none;
}

ul li {
  width: auto;
  height: auto;
  background-color: greenyellow;
  border-radius: 5px;
  font-size: large;

}


li {
  width: auto;
  height: auto;
  margin-left: -16px;
  border-radius: 25px;
  margin-bottom: 8px;
  font-size: large;
  display: inline-block;
  margin-right: 20px;
  background-color: rgb(7, 161, 33);
  transition: color 1s ease;
  margin-top: 8px;

}

li:hover {
  background-color: orange
}


.map-container {
  width: 500px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  background: lightblue;
  height: auto;
  box-shadow: 0 5px 3px #3a3a3a;
  background-image:url(assets/images/colorful-tie-dye-background-vector-design-hd.jpg);
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}

.map {
  width: 100%;
  display: inline-block;
}

.bottomh2 {
  width: 480px;
  text-align: center;
  margin: 0 auto;

}

details>summary {
  list-style-type: none;
}

details>summary::-webkit-details-marker {
  display: none;
}

details>summary::before {
  content: '🐈';
}

details[open]>summary::before {
  content: '🔽';
}

details {
  border: 1px solid gray;
  border-radius: 0.2rem;
  padding: 0.5rem;

  transition: color 1s ease;
}

details:hover {
  background-color: orange;
}

details[open]>summary {
  margin-bottom: 0.5rem;
}

.bluebox {
  text-align: center;
  margin: 0 auto;
  background-color: #FFA500;
  border-radius: 25px;
  border-color: blue;
  border-style: solid;
  width: 295px;
  padding: 5px;
  margin-bottom: 20px;
}

.orangebox {
  text-align: center;
  margin: 0 auto;
  background-color: orange;
  border-radius: 5px;
  border-color: rgb(182, 35, 226);
  border-style: solid;
  width: 470px;
  padding: 5px;
  margin-bottom: 20px;
  background-image:url("assets/images/colorful-geometric-shapes-vector-background-pattern.jpg");
  background-position:center;
}

.titlebox {
  text-align: center;
  margin: 0 auto;
  background-color: lightblue;
  border-radius: 20px;
  border-color: orange;
  border-style: solid;
  width: 50%;
  padding: 5px;
  margin-bottom: 20px;
}

.titlebox2 {
  text-align: center;
  margin: 0 auto;
  background-color: lightblue;
  border-radius: 25px;
  border-color: purple;
  border-style: solid;
  width: 450px;
  padding: 5px;
  margin-bottom: 20px;
}

.pageheader {
  text-align: center;
  margin: 0 auto;  
  border-radius: 50px;
  border-color: orangered;
  border-style: solid;
  width: 780px;
  height:130px;
  padding: 5px;
  margin-bottom:20px;
  background-image:url("assets/images/cats-header-20730-800x200.jpg");
  box-shadow: 0 5px 3px #3a3a3a;
  
}

.pageheader2 {
  text-align: center;
  margin: 0 auto;  
  border-radius: 50px;
  border-color: orangered;
  border-style: solid;
  width: 550px;
  height:auto;
  padding: 5px;
  margin-bottom:20px;
  background-image:url("assets/images/cats-header-20725-800x200.jpg");
  box-shadow: 0 5px 3px #3a3a3a;
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
  
}

.pageheader3 {
  text-align: center;
  margin: 0 auto;  
  border-radius: 50px;
  border-color: blue;
  border-style: solid;
  width: 400px;
  height:auto;
  padding: 5px;
  margin-bottom:20px;
  background-image:url("assets/images/kenyan-cat-web-header-image.jpg");
  box-shadow: 0 5px 3px #3a3a3a;
  
}

.pageheader4 {
  text-align: center;
  margin: 0 auto;  
  border-radius: 50px;
  border-color: lightgreen;
  border-style: solid;
  width: 300px;
  height:auto;
  padding: 5px;
  margin-bottom:20px;
  background-image:url("assets/images/colorful-tie-dye-background-vector-design-hd.jpg");
  box-shadow: 0 5px 3px #3a3a3a;
  background-position:center;
  
}

.pageheader5 {
  text-align: center;
  margin: 0 auto;  
  border-radius: 50px;
  border-color: lightgreen;
  border-style: solid;
  width: 800px;
  height:auto;
  padding: 5px;
  margin-bottom:20px;
  background-image:url("assets/images/colorful-geometric-shapes-vector-background-pattern.jpg");
  box-shadow: 0 5px 3px #3a3a3a;
  background-position:center;
  display:contents;
 
  
  
}

.pageheader6 {
  text-align: center;
  margin: 0 auto;  
  border-radius: 50px;
  border-color: orangered;
  border-style: solid;
  width: 550px;
  height:auto;
  padding: 5px;
  margin-bottom:20px;
  background-image:url("assets/images/colorful-geometric-shapes-vector-background-pattern.jpg");
  box-shadow: 0 5px 3px #3a3a3a;
  background-repeat:no-repeat;
  background-size:cover;
  
}

.cat-caption-container {
  text-align: center;
  margin: 0 auto;
  background-color: rgb(171, 123, 199);
  border-radius: 20px;
  border-color: orange;
  border-style: solid;
  width: 850px;
  padding: 5px;
  margin-bottom: 20px;
  background-image:url(assets/images/colorful-tie-dye-background-vector-design-hd.jpg);
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;


}


.styledbox2-index {
  padding: 1rem 0;
  margin-bottom: 80px;
  background-image: url("assets/images/439038.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width:110%;
  

}

nav {
  margin: 0 auto;
  


}

.main-nav {
  color: blue;
  font-size: medium;
  text-decoration: none;
  margin-left: 15px;
  font-size:25px;
}

a {
  color: blue;
  font-size: medium;
  text-decoration: none;
  font-size:x-large;

}

a:hover {
  color: rgb(7, 161, 33);
  font-size: x-large;
  
}

#special-a:hover {
  color: green;
  font-size: x-large;
  text-decoration: none;
  

}

#video-1 {
  padding:1rem;
}




.map-meetups {
  width: 100%;
  display: inline-block;
}




footer > li {
  margin-right: 9px;
  margin-bottom: 5px;
}


.styled-box2-meetups {
  padding: 1rem 0;
  margin-bottom: 80px;
  background-image: url("assets/images/group meetup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}


table {
  width: 100%;
  margin: 20px 0;

}



h1 {
  width: 380px;
  text-align: center;
  margin: 0 auto;

}



.bluebox-meetups {
  text-align: center;
  margin: 0 auto;
  background-color: lightblue;
  border-radius: 5px;
  border-color: blue;
  border-style: solid;
  width: 200px;
  padding: 5px;
  margin-bottom: 20px;
}

.orangebox-meetups {
  text-align: center;
  margin: 0 auto;
  background-color: orange;
  border-radius: 5px;
  border-color: rgb(182, 35, 226);
  border-style: solid;
  width: 350px;
  padding: 5px;
  margin-bottom: 20px;
}

.redbox-meetups {
  text-align: center;
  margin: 0 auto;
  background-color: maroon;
  border-radius: 5px;
  border-color: rgb(208, 228, 32);
  border-style: solid;
  width: 350px;
  padding: 5px;
  margin-bottom: 20px;
}





.special-li {
  display: inline-block;
}

th {
  background-color: orange;
  border-radius: 5px;
  border-color: purple;
  border-style: solid;
  width: 200px;
  padding: 5px;
  margin-bottom: 20px;
  font-size: x-large;

}

td {
  background-color: lightblue;
  border-radius: 5px;
  border-color: rgb(1, 1, 22);
  border-style: solid;
  width: 200px;
  padding: 5px;
  margin-bottom: 20px;
  font-size: x-large;

}


.comp-text {

  font-size: 20px;
  text-align: center;

}



.comp-fieldset {
  text-align: center;
  background-color: lightblue;
  width: 400px;
  margin: 0 auto;
  background-image:url(assets/images/colorful-tie-dye-background-vector-design-hd.jpg);
  background-position:center;
}



.map-comp {
  width: 100%;
  display: inline-block;
}





.comp-li {
  margin-right: 20px;
}

.bluebox-comp {
  text-align: center;
  margin: 0 auto;
  background-color: lightblue;
  border-radius: 5px;
  border-color: blue;
  border-style: solid;
  width: 295px;
  padding: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}



.titlebox-comp {
  text-align: center;
  margin: 0 auto;
  background-color: lightblue;
  border-radius: 20px;
  border-color: orange;
  border-style: solid;
  width: 500px;
  padding: 5px;
  margin-bottom: 20px;

}

.styled-box2-comp {
  padding: 1rem 0;
  margin-bottom: 80px;
  background-image: url("assets/images/5922554.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  width:1000px;
}

.trivia {
  background-image:url(assets/images/colorful-shine-glare-abstract-background-full-hd-1920x1080.jpg);
  background-position:center;
}

.news {
  background-image:url(assets/images/colorful-tie-dye-background-vector-design-hd.jpg);
  background-position:center;
  width:0 auto;
}

.joinup {
  background-image:url(assets/images/colorful-tie-dye-background-vector-design-hd.jpg);
  background-position:center;
}

.important-info {
  border-radius:15px;
  background-color:lightblue;
}





/* code reasurched from https://www.w3schools.com/howto/howto_css_images_side_by_side.asp */




.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.grid-item {
  padding: 10px;
  border: 1px solid purple;
  background-color: lightblue;
  
}
.grid-container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.grid-pics {
  padding: 10px;

}


cat-caption-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.cat-caption {
  width: 35%;
  height: 35%;
}


/* end of code reasurched from https://www.w3schools.com/howto/howto_css_images_side_by_side.asp */


@media screen and (max-width: 480px) {


  body {
    display:flex;
    
  }

  td {
    font-size:x-small;
  }

  th {
    font-size:x-small;
  }

  .styledbox2-index {
    width:110%;
    margin-left:-27px;
    padding:0.5rem;
  }

  .pageheader {
    width:330px;
    background-position:right;
    height:142px;
  }

  .pageheader2 {
    width:90%;
    
  }

  .pageheader3 {
    width:85%;
  }

  .pageheader4 {
    width:75%;
  }

  .titlebox {
    width:320px;
  }

  .titlebox2 {
    width:200px;
    display:contents;
  }

  .DesktopFooter {
    display: none;
  }

  .mobile-remove {
    display: none;
  
  }

  .grid-container {
    display: inline;
  }

  .grid-container2 {
    display: inline;
  }

  .grid-item {
    margin-bottom:15px;
  }

  .pageheader6 {
    width:330px;
  }

  .news-container1 {
    margin-left:-1px;
    width:auto;
  }

  .news-container2 {
    margin-left:-1px;
    width:auto;
  }

  .news-container3 {
    margin-left:-1px;
    width:auto;
  }
  

  .middle-pics {
    height:100px;
    width:355px;
  }

  .cat-caption-container {
    width:330px;
  }

  .map-container {
    width: 330px;
  }

  .grid-item > p {
    text-align:center;
  }

  footer > p {
    font-size:70%;
  }

  ul {
    text-align:center;
  }

  #mobile-footer {
    display:contents;
    border-radius: 15px;
    background-color: greenyellow;
    border-color: orange;
    border-style: solid;
    
  }

  .redbox-meetups {
    width:75%;
  }

  .styled-box2-comp {
    width:100%;
  }

  .comp-fieldset {
    width: 85%;
  }

  .blurb {
    width:70%;
    margin-left:55px;
  }

 
  

}


@media screen and (min-width: 768px) {
  .cat-caption-box {
    margin: 50px 30px;
  }
  main {
    margin:0 auto;
  }
  .styledbox2-index {
    margin: 0 auto;
    width:auto;
  }

  .DesktopFooter {
    display: contents;
  }

  footer {
    width: 600px;
    margin: 0 auto;
    text-align:center;
  }

  #mobile-footer {
    display: none;
  }

  


 
}
