
h2 {
  background-color:orange;

}

h1 {
  background-color:orange;
}

html {

  max-width: 100%;
  overflow-x: hidden;
}

#welcome {
  background-color:orange;
  text-align:center;
}

.orange-highlight {
  background-color:orange;
}
.green-highlight {
  background-color:green;

}
.homepage:hover {
  color:brown;

}
ul {
 text-align:center;
  list-style-type:none;
}

legend {
  font-weight:bold;
  background: orange;
  width: 100%
}



#submit {
  background-color:lightblue;
}



fieldset {
  text-align:center;
  background-color:lightblue;
}

.middle-pics {
 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  }
.fact-pics {

 
  width: 20%;
 
  
}

figcaption {
  font-size: 20px;
}

body {
  background-color:lightgrey;
  max-width: 100%;
  overflow-x: hidden;
  
}

footer {
  background-color:purple;
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:150%;
  height:25%;
}

p {
  text-align:center;
}

h3 {
  
 
  text-align:center
  
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}



